#logo {
  height: 50px;
  margin-top: -15px;
}

#code-options {
  position: relative;
  margin: 15px 0 0 40px;
  z-index: 40;
}

/* For logical grouping of buttons */
.size-control.smaller, #create-gist {
  margin-right: 30px;
}

#conf {
  text-align: center;
  position: absolute;
  right: 50px;
  width: 25%;
  height: 80%;
  z-index: 20;
  margin: 50px 0 50px 0;
}

#local-media {
  position: absolute;
  top: 0; right: 0;
  width: 125px;
  height: 95px;
  background-color: rgba(20, 20, 20, 0.7);
  box-shadow: -10px 10px 30px 1px rgba(20, 20, 20, 0.5);
}

#local-media video, #remote-media video {
  width: 100%;
  height: 100%;
}

#local-media, #local-media video {
  z-index: 30;
}

#remote-media-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  top: 40%;
  transform: translateY(-50%);
}

#remote-media-wrapper button {
  /*position: relative;*/
  top: 10%;
}

#remote-media {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  /*border-radius: 10px;*/
  background-color: rgba(20, 20, 20, 0.7);
}

#editor-connection-status {
  position: fixed;
  color: white;
  background-color: red;
  padding: 0 3px;
  font-family: monospace;
  visibility: hidden;
  z-index: 9999;
  display: inline;
}

.size-control i {
  color: #666;
}

/*
 * For bootstrap.native styling
 */
/* enables CSS3 transition for simple collapses, accordion and also navbar in responsive view */
.collapse { transition: height .3s ease-out; }

/* styles the close button for the dismissible popovers */
.popover .close { position: absolute; top: 7px; right: 10px; }
